.root {
    -fx-background-color: #0f172a;
}
.root {
    -fx-background-color: linear-gradient(to bottom right, #081225, #0f172a);
}

.scroll-pane {
    -fx-background: #0f172a;
    -fx-background-color: #0f172a;
}

.scroll-pane > .viewport {
    -fx-background-color: #0f172a;
}
.sidebar{
    -fx-background-color: #020c24;
    -fx-pref-width: 180;
    sidebar.setPrefWidth(180);
sidebar.setMinWidth(180);
sidebar.setMaxWidth(180);
}
.sidebar-button {
    -fx-background-color: #2563eb;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-background-radius: 12;
    -fx-padding: 10 18 10 18;
}

.sidebar-button:hover {
    -fx-background-color: #3b82f6;
}


.card {
    -fx-background-color: #1e293b;
    -fx-background-radius: 18;
    -fx-padding: 20;
    -fx-border-color: #475569;
-fx-border-radius: 18;
}

.card-title {
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}

.card-value {
    -fx-font-size: 36px;
    -fx-font-weight: 900;
    -fx-text-fill: white;
}
.card {
    -fx-background-color: linear-gradient(to right, #1e293b, #334155);
    -fx-background-radius: 18;
    -fx-padding: 20;
    -fx-border-color: #3b82f6;
    -fx-border-radius: 18;
    -fx-effect: dropshadow(gaussian,
            rgba(59,130,246,0.35),
            20,
            0.3,
            0,
            5);
}

.title {
    -fx-font-size: 34px;
    -fx-font-weight: 900;
    -fx-text-fill: white;
}
.section-title {
    -fx-font-size: 22px;
    -fx-font-weight: 800;
    -fx-text-fill: white;
}
.text-field {

    -fx-background-color: #1e293b;

    -fx-text-fill: white;

    -fx-prompt-text-fill: #94a3b8;

    -fx-background-radius: 10;

    -fx-padding: 10;
}

.button {
    -fx-background-color: #2563eb;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-background-radius: 10;
}

.buy-button {
    -fx-background-color: linear-gradient(to right,
            #10b981,
            #22c55e);

    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-font-weight: bold;

    -fx-background-radius: 14;
    -fx-padding: 12 25 12 25;
}

.buy-button:hover {
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}
.sell-button {
    -fx-background-color: #ef4444;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}
.sell-button {

    -fx-background-color:
        linear-gradient(
                to right,
                #dc2626,
                #ef4444
        );

    -fx-text-fill: white;

    -fx-font-size: 16px;

    -fx-font-weight: bold;

    -fx-background-radius: 14;

    -fx-padding: 12 25 12 25;
}
.table-view {
    -fx-background-color: #1e293b;
    -fx-control-inner-background: #1e293b;
    -fx-border-color: #334155;
    -fx-border-radius: 10;
}

.table-view .column-header-background {
    -fx-background-color: #0f172a;
}

.table-view .column-header .label {
    -fx-text-fill: #38bdf8;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

.table-view .filler {
    -fx-background-color: #0f172a;
}
.table-view .column-header {
    -fx-background-color: #111827;
}

.table-view .column-header .label {
    -fx-text-fill: #38bdf8;
    -fx-font-size: 15px;
    -fx-font-weight: bold;
}

.label {
    -fx-text-fill: white;
}
.sidebar-button:hover{
    -fx-background-color:#3b82f6;
    -fx-scale-x:1.05;
    -fx-scale-y:1.05;
}

.buy-button:hover{
    -fx-background-color:#22c55e;
    -fx-scale-x:1.05;
    -fx-scale-y:1.05;
}

.sell-button:hover{
    -fx-background-color:#ef4444;
    -fx-scale-x:1.05;
    -fx-scale-y:1.05;
}

.card:hover{
    -fx-effect:dropshadow(
        gaussian,
        #3b82f6,
        25,
        0.4,
        0,
        0
    );
}